/* index.html */
body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

:root {
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --footer-contact-color: rgba(255, 255, 255, 0.60); 
    --accent-color:  #2196F3;
    --white-color: #FFFFFF;
    --logo-color: #000;
    --logo-color-footer: #FFFFFF;
    --icon-color: #afb1b8;
    --portfolio-overlay: rgba(33, 150, 243, 0.9);
    --portfolio-hover-focus: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.feature,
.direction,
.team,
.clients {
    padding-top: 94px;
    padding-bottom: 94px; 
}

/* container */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header {
    padding-top: 0;
    padding-bottom: 0;
    outline: 1px solid #ececec;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* logo */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--logo-color);
}

/* class-navigation */
.nav-list {
    display: flex;
}

.nav-list .item + .item {
    margin-left: 50px;
}

.navigation {
    margin-left: 93px;
}

.navigation .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover, 
.navigation .link:focus{
    color: var(--accent-color);
}

.navigation .link.current {
    color: var(--accent-color);
}

.item.current {
    position: relative;
}

.nav-list .link.current::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 4px;
}

/* contact */
.contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact-list .item + .item {
    margin-left: 40px;
}

.contact-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list .contact {
    display: inline-flex;
    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.icon-envelope {
    margin-right: 10px;
    fill: currentColor;
}

.icon-smartphone {
    margin-right: 10px;
    fill: currentColor;
}

.contact {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover, 
.contact:focus {
    fill: var(--accent-color);
    color: var(--accent-color);

}


/* section-hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: 
    linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;  
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    width: 696px;
    height: 120px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* button */
.hero-btn {
    font-family: inherit;
    color: var(--white-color);

    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    display: inline-block;

    padding: 10px 24px;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 1000;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50% , -50%) scale(0.9);
}

.modal {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background: var(--white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    display: block;
    
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    background-image: url(../images/close.svg);
    margin-left: auto;
    margin-top: 8px;
    margin-right: 8px;
}

/* section-feature */
.feature {
    padding-bottom: 0;
}
.feature-list {
    display: flex;
}

.feature-list .feature-item {
    width: 270px;
}

.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.feature-title-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}

/* section-direction */
.direction-list {
    display: flex;
}

.direction-list .item {
    position: relative;
    display: block;
}

.direction-list .item::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}

.direction-list .item + .item {
    margin-left: 30px;
}

.direction-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.direction-descr {
    position: absolute;

    left: 0;
    bottom: 0;

    padding: 27px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
}

/* section-team */
.team-list {
    display: flex;  
}

.team-item {
    display: block;
    background-color: var(--primary-background-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team {
    background-color: var(--secondary-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);   
}

.team-item-position {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    margin-bottom: 16px;
}

.links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
} 

.links-list .link-item + .link-item {
    margin-left: 10px;
}

.link-item {
    text-align: center;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    fill: var(--icon-color);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram:hover,
.instagram:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.twitter {
    display:inline-flex;
    justify-content: center;
    align-items: center;

    fill: var(--icon-color);
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.twitter:hover,
.twitter:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.facebook {
    display:inline-flex;
    justify-content: center;
    align-items: center;

    fill: var(--icon-color);
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook:hover,
.facebook:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.linkedin {
    display:inline-flex;
    justify-content: center;
    align-items: center;

    fill: var(--icon-color);
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkedin:hover,
.linkedin:focus{
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.clients-title {
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;

margin-bottom: 50px;
}

.clients-list {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.clients-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 170px;
    height: 92px;
}


.clients-list .clients-item + .clients-item {
    margin-left: 30px;
}

.clients-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    width: 100%;
    height: 100%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover,
.clients-logo:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* section-footer */

.footer .container {
    display: flex;
    align-items: baseline;
}
.footer {

    background-color: var(--hero-background-color);
    padding: 60px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
}

.footer-accent {
    color: var(--logo-color-footer);
}

.adress{
    margin-right: 70px;
}

address {
    margin-top: 20px;
}

.footer p{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-bottom: 12px;
}

.footer-mail {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);
    margin-bottom: 12px;  
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, 
.footer-mail:focus {
    color: var(--accent-color);
}

.footer-tel:hover, 
.footer-tel:focus {
    color: var(--accent-color);
}

.footer-social {
    display: inline-block;
    align-items: center;
}

.social-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    margin-bottom: 20px;
}

.footer-item {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.footer-list .footer-item + .footer-item {
    margin-left: 10px;
}

.footer-instagram {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-instagram:hover,
.footer-instagram:focus {
    background-color: var(--accent-color);
}

.footer-twitter {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-twitter:hover,
.footer-twitter:focus {
    background-color: var(--accent-color);
}

.footer-facebook {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-facebook:hover,
.footer-facebook:focus {
    background-color: var(--accent-color);
}

.footer-linkedin {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-linkedin:hover,
.footer-linkedin:focus {
    background-color: var(--accent-color);
}

/* portfolio.html */

/* section-filters */
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.filters-list .item {
    min-width: 67px;
    height: 38px;
}

.filters-list .item + .item{
    margin-left: 8px;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    border: var(--secondary-background-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);

    padding: 6px 22px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.item-card {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list .item:nth-child(3n) {
    margin-right: 0px;
}

.projects-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.item-card:hover,
.item-card:focus {
    box-shadow: var(--portfolio-hover-focus);

}

.item-card:hover .text-overlay {
    opacity: 1;
    transform: translateY(0);
}

.item-card:hover .text-img {
    opacity: 1;
}

.content {
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: 0;
}

.content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color); 
    margin-bottom: 4px;    
}

.content-descr {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.content-img {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: var(--portfolio-overlay);
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .text-img {
    display: block;
    position: absolute;
    top: 63px;
    left: 24px;

    opacity: 0;
} */

.descr-img {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--white-color);

    max-width: 322px;
}